<!DOCTYPE html>
<html>
	<head>
		<title><%= title + ' - ' %>404 Not Found</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<meta name="author" content="Gael B."/>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<img id="_404" src="/img/404%20Not%20Found.png" alt="404 Error - Dead Link">
	</body>
</html>