<!DOCTYPE html>
<html>
	<head>
		<title><%= title + ' - ' %>Login</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<meta name="author" content="Gael B."/>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<%  if('undefined' !== typeof error)
		{ %>
			<p>Erreur: <%= error %></p>
		<% } %>
		<form method="post" action="/verifAuth">
			<p>Pseudonyme ou Email :</p>
			<input type="text" name="uname" placeholder="Type your login" autofocus required
				<% if ('undefined' !== typeof username)
				{ %>
					value="<%= username %>"
				<% } %>
			/>
			<p>Mot de passe :</p>
			<input type="password" name="pw" required/>
			<br/>
			<input type="submit" value="Validez"/>
		</form>
	</body>
</html>