<!DOCTYPE html>
<html>
	<head>
		<title><%= title + ' - '  %>Accueil</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<meta name="author" content="Gael B."/>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<h1>Bienvenue sur le site de l'application <%= title %></h1>
		<p>Si vous n'êtes pas inscrits, nous vous invitons à  aller sur <a href='./login'>cette page</a> pour le faire</p>
	</body>
</html>