<!DOCTYPE html>
<html>
	<head>
		<title><%= title + ' - ' %>S'enregistrer</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<meta name="author" content="Gael B."/>
		<meta charset="UTF-8"/>
	</head>
	<body>
	</body>
</html